.top-line-row-header-container {
    width: min(16vw, 180px);
    height: min(6vw, 80px);
    background-color: rgb(150, 150, 150);
    color: rgb(21, 21, 21);
    border: solid rgb(21, 21, 21);
    text-align: center;
    border-width: 2px 2px;
    overflow: scroll;
    display: flex;
    align-items: center;
}

.header-text {
    font-size: min(1.5vw, 20px);
    font-weight: 600;
    padding: min(0.9vw, 15px);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}