.top-line-box-container {
    width: min(9vw, 120px);
    height: min(6vw, 80px);
    background-color: rgb(200, 200, 200);
    color: rgb(21, 21, 21);
    border: solid rgb(21, 21, 21);
    text-align: center;
    border-width: 2px 2px;
}

.top-line-box-container:hover {
    width: min(9vw, 120px);
    height: min(6vw, 80px);
    background-color: rgb(21, 21, 21);
    color: rgb(200, 200, 200);
    border: solid rgb(200, 200, 200);
    text-align: center;
    border-width: 2px 2px;
}


.data-text {
    font-size: min(1.5vw, 17px);
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
}